amqp==5.3.1 ; python_full_version == "3.12.8"
annotated-types==0.7.0 ; python_full_version == "3.12.8"
asgiref==3.8.1 ; python_full_version == "3.12.8"
beautifulsoup4==4.13.3 ; python_full_version == "3.12.8"
billiard==4.2.1 ; python_full_version == "3.12.8"
celery==5.4.0 ; python_full_version == "3.12.8"
click-didyoumean==0.3.1 ; python_full_version == "3.12.8"
click-plugins==1.1.1 ; python_full_version == "3.12.8"
click-repl==0.3.0 ; python_full_version == "3.12.8"
click==8.1.8 ; python_full_version == "3.12.8"
colorama==0.4.6 ; python_full_version == "3.12.8" and platform_system == "Windows"
crispy-bootstrap4==2024.10 ; python_full_version == "3.12.8"
django-bootstrap-datepicker-plus==5.0.5 ; python_full_version == "3.12.8"
django-bootstrap4==24.4 ; python_full_version == "3.12.8"
django-crispy-forms==2.3 ; python_full_version == "3.12.8"
django-environ==0.11.2 ; python_full_version == "3.12.8"
django-extensions==3.2.3 ; python_full_version == "3.12.8"
django==5.1.7 ; python_full_version == "3.12.8"
flower==2.0.1 ; python_full_version == "3.12.8"
humanize==4.12.1 ; python_full_version == "3.12.8"
kombu==5.5.0 ; python_full_version == "3.12.8"
pillow==11.1.0 ; python_full_version == "3.12.8"
prometheus-client==0.21.1 ; python_full_version == "3.12.8"
prompt-toolkit==3.0.50 ; python_full_version == "3.12.8"
psycopg2-binary==2.9.10 ; python_full_version == "3.12.8"
pydantic-core==2.27.2 ; python_full_version == "3.12.8"
pydantic==2.10.6 ; python_full_version == "3.12.8"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.8"
pytz==2025.1 ; python_full_version == "3.12.8"
redis==5.2.1 ; python_full_version == "3.12.8"
six==1.17.0 ; python_full_version == "3.12.8"
soupsieve==2.6 ; python_full_version == "3.12.8"
sqlparse==0.5.3 ; python_full_version == "3.12.8"
tornado==6.4.2 ; python_full_version == "3.12.8"
typing-extensions==4.12.2 ; python_full_version == "3.12.8"
tzdata==2025.1 ; python_full_version == "3.12.8"
vine==5.1.0 ; python_full_version == "3.12.8"
wcwidth==0.2.13 ; python_full_version == "3.12.8"
