amqp==5.3.1 ; python_full_version == "3.12.8"
annotated-types==0.7.0 ; python_full_version == "3.12.8"
anyio==4.9.0 ; python_full_version == "3.12.8"
asgiref==3.9.1 ; python_full_version == "3.12.8"
authlib==1.6.0 ; python_full_version == "3.12.8"
beautifulsoup4==4.13.4 ; python_full_version == "3.12.8"
billiard==4.2.1 ; python_full_version == "3.12.8"
celery==5.5.3 ; python_full_version == "3.12.8"
certifi==2025.7.9 ; python_full_version == "3.12.8"
cffi==1.17.1 ; platform_python_implementation != "PyPy" and python_full_version == "3.12.8"
charset-normalizer==3.4.2 ; python_full_version == "3.12.8"
click-didyoumean==0.3.1 ; python_full_version == "3.12.8"
click-plugins==1.1.1.2 ; python_full_version == "3.12.8"
click-repl==0.3.0 ; python_full_version == "3.12.8"
click==8.2.1 ; python_full_version == "3.12.8"
colorama==0.4.6 ; python_full_version == "3.12.8" and (sys_platform == "win32" or platform_system == "Windows")
crispy-bootstrap4==2024.10 ; python_full_version == "3.12.8"
cryptography==45.0.5 ; python_full_version == "3.12.8"
django-bootstrap-datepicker-plus==5.0.5 ; python_full_version == "3.12.8"
django-bootstrap4==24.4 ; python_full_version == "3.12.8"
django-crispy-forms==2.4 ; python_full_version == "3.12.8"
django-debug-toolbar==5.2.0 ; python_full_version == "3.12.8"
django-environ==0.11.2 ; python_full_version == "3.12.8"
django-extensions==3.2.3 ; python_full_version == "3.12.8"
django-filter==25.1 ; python_full_version == "3.12.8"
django-silk==5.4.0 ; python_full_version == "3.12.8"
django==5.2.4 ; python_full_version == "3.12.8"
dparse==0.6.4 ; python_full_version == "3.12.8"
filelock==3.16.1 ; python_full_version == "3.12.8"
flower==2.0.1 ; python_full_version == "3.12.8"
gprof2dot==2025.4.14 ; python_full_version == "3.12.8"
h11==0.16.0 ; python_full_version == "3.12.8"
httpcore==1.0.9 ; python_full_version == "3.12.8"
httpx==0.28.1 ; python_full_version == "3.12.8"
humanize==4.12.3 ; python_full_version == "3.12.8"
idna==3.10 ; python_full_version == "3.12.8"
iniconfig==2.1.0 ; python_full_version == "3.12.8"
jinja2==3.1.6 ; python_full_version == "3.12.8"
joblib==1.5.1 ; python_full_version == "3.12.8"
kombu==5.5.4 ; python_full_version == "3.12.8"
markdown-it-py==3.0.0 ; python_full_version == "3.12.8"
markupsafe==3.0.2 ; python_full_version == "3.12.8"
marshmallow==4.0.0 ; python_full_version == "3.12.8"
mdurl==0.1.2 ; python_full_version == "3.12.8"
nltk==3.9.1 ; python_full_version == "3.12.8"
packaging==25.0 ; python_full_version == "3.12.8"
pillow==11.3.0 ; python_full_version == "3.12.8"
pluggy==1.6.0 ; python_full_version == "3.12.8"
prometheus-client==0.22.1 ; python_full_version == "3.12.8"
prompt-toolkit==3.0.51 ; python_full_version == "3.12.8"
psutil==6.1.1 ; python_full_version == "3.12.8"
psycopg2-binary==2.9.10 ; python_full_version == "3.12.8"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_full_version == "3.12.8"
pydantic-core==2.23.4 ; python_full_version == "3.12.8"
pydantic==2.9.2 ; python_full_version == "3.12.8"
pygments==2.19.2 ; python_full_version == "3.12.8"
pyjwt==2.9.0 ; python_full_version == "3.12.8"
pytest==8.4.1 ; python_full_version == "3.12.8"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.8"
pytz==2025.2 ; python_full_version == "3.12.8"
redis==5.3.0 ; python_full_version == "3.12.8"
regex==2024.11.6 ; python_full_version == "3.12.8"
requests==2.32.4 ; python_full_version == "3.12.8"
rich==14.0.0 ; python_full_version == "3.12.8"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_full_version == "3.12.8"
ruamel-yaml==0.18.14 ; python_full_version == "3.12.8"
safety-schemas==0.0.14 ; python_full_version == "3.12.8"
safety==3.6.0 ; python_full_version == "3.12.8"
setuptools==80.9.0 ; python_full_version == "3.12.8"
shellingham==1.5.4 ; python_full_version == "3.12.8"
six==1.17.0 ; python_full_version == "3.12.8"
sniffio==1.3.1 ; python_full_version == "3.12.8"
soupsieve==2.7 ; python_full_version == "3.12.8"
sqlparse==0.5.3 ; python_full_version == "3.12.8"
tenacity==9.1.2 ; python_full_version == "3.12.8"
tomlkit==0.13.3 ; python_full_version == "3.12.8"
tornado==6.5.1 ; python_full_version == "3.12.8"
tqdm==4.67.1 ; python_full_version == "3.12.8"
typer==0.16.0 ; python_full_version == "3.12.8"
typing-extensions==4.14.1 ; python_full_version == "3.12.8"
tzdata==2025.2 ; python_full_version == "3.12.8"
urllib3==2.5.0 ; python_full_version == "3.12.8"
vine==5.1.0 ; python_full_version == "3.12.8"
wcwidth==0.2.13 ; python_full_version == "3.12.8"
