{% extends "appointments/base.html" %}
{% block title %}Create Appointment{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Create Appointment</h1>
    <form method="post">
        <div class="card">
            <div class="card-body">
                <h4>Appointment Details</h4>
                <p><strong>Doctor:</strong> {{ form.doctor }}</p>
                <p><strong>Date:</strong> {{ form.date }}</p>
                <p><strong>Time:</strong> {{ form.time|time:'H:i' }}</p>
            </div>
        </div>


        {% csrf_token %}
        <button type="submit" class="btn btn-success mt-3">Create Appointment</button>
    </form>

    <a href="{% url 'appointments:appointments-list' %}" class="btn btn-secondary mt-3">Cancel</a>
</div>
{% endblock %}
