{% extends 'appointments/base.html' %}

{% block title %}Twoje wizyty{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Przyszłe wizyty</h2>
{% if upcoming_appointments %}
  <ul>
    {% for appointment in upcoming_appointments %}
      <li>{{ appointment.date }} {{ appointment.time }} - {{ appointment.doctor }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Brak przyszłych wizyt.</p>
{% endif %}

<h2>Wizyty Twoich pacjentów</h2>
{% if doctor_upcoming_appointments %}
  <ul>
    {% for appointment in doctor_upcoming_appointments %}
      <li>{{ appointment.date }} {{ appointment.time }} - Pacjent: {{ appointment.patient }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Brak przyszłych wizyt Twoich pacjentów.</p>
{% endif %}

<h2>Przeszłe wizyty</h2>
{% if past_appointments %}
  <ul>
    {% for appointment in past_appointments %}
      <li>{{ appointment.date }} {{ appointment.time }} - {{ appointment.doctor }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Brak przeszłych wizyt.</p>
{% endif %}

<h2>Historia wizyt Twoich pacjentów</h2>
{% if doctor_past_appointments %}
  <ul>
    {% for appointment in doctor_past_appointments %}
      <li>{{ appointment.date }} {{ appointment.time }} - Pacjent: {{ appointment.patient }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Brak historii wizyt Twoich pacjentów.</p>
{% endif %}
</div>
{% endblock %}
