{% extends 'appointments/base.html' %}
{% load static %}
{% block title %}Work Calendar{% endblock %}

{% block content %}
<h1>Doctor's Work Calendar</h1>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Working Hours</th>
            <th>Appointment Interval</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for day in schedule_days %}
        <tr>
            <td>{{ day.work_date }}</td>
            <td>{{ day.start_time }} - {{ day.end_time }}</td>
            <td>{{ day.interval }}</td>
            <td>
                <a href="{% url 'appointments:schedule-day-update' day.id %}" class="btn btn-primary btn-sm">
                    Edit
                </a>
                <a href="{% url 'appointments:schedule-day-delete' day.id %}" class="btn btn-danger btn-sm">
                    Remove
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-end">
    <a href="{% url 'appointments:schedule-day-create' %}" class="btn btn-success">
        Add Work Day
    </a>
</div>
{% endblock %}
